experiment:
  name: sv_dynamics_topk

model:
  in_dim: 5
  out_dim: 5
  num_hidden: 3
  hidden_dim: 100
  gamma: 1.0
  model_seed: 0

training:
  lr: 0.0001
  batch_size: null
  optimizer: SGD
  optimizer_params: null
  criterion: MSELoss
  batch_seed: 0
  track_train_loss: false

data:
  train_samples: 500
  test_samples: 500
  data_seed: 0
  online: false
  noise_std: 0.0
  params:
    matrix: power_law_topk
    scale: 50
    alpha: 1.0
    k: 5

max_steps: 8000
num_evaluations: 250

metrics:
  - partial_product_singular_values

callbacks: []
