experiment:
  name: diagonal_teacher_comparative

plotting:
  enabled: true
  save: true
  show_test: false

shared:
  model:
    in_dim: 5
    out_dim: 5
    num_hidden: 3
    hidden_dim: 100
    gamma: 1.5
    bias: false
    model_seed: 0
  training:
    lr: 0.0001
    batch_size: null
    optimizer: SGD
    optimizer_params: null
    criterion: MSELoss
    batch_seed: 0

model_a: {}
model_b: {}

training_a: {}
training_b: {}

data:
  train_samples: 500
  test_samples: null
  data_seed: 0
  online: false
  noise_std: 0.0
  params:
    matrix: diagonal
    scale: 10.0

max_steps: 20000
num_evaluations: 1000
metrics: []
comparative_metrics:
  - param_distance
metric_data: null
callbacks_a: []
callbacks_b: []